body
{
    background-image: url("../images/Microsoft.jpg");
    background-size: 100%;
    text-align:center;
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
    font-style: oblique;
    color: white;
}
#name
{
   color: blue;
   font-style: normal;
   font-size: 20px;
}
#submit
{
    color: red;
}